<!DOCTYPE html>
<html ng-app="reservationApp">
<head>
    <base href="/">
    <title>Queue Lists</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="socket.io/socket.io.js"></script>
    <script src="angular/angular.js"></script>
    <!--<script src="angular-ui-router/release/angular-ui-router.min.js"></script>-->
    <script type="text/javascript" src="angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="qrcode/lib/qrcode.min.js"></script>     
    <script type="text/javascript" src="angular-qr/angular-qr.min.js"></script> <!--https://github.com/janantala/angular-qr-->
    <script src="main.js"></script>
</head>
<body>
    
    <img height = "60"  src="logo.png" >
    <h1>Queue Lists</h1>
    <div ng-controller="tableQueueControl"> 
        <div class= "queue-list">
            <table>
                <col width="100">
                <col width="200">
                <col width="100">
                <col width="130">
                <tbody>
                    <tr>
                        <th>Queue #</th>
                        <th>Name</th>
                        <th>Seats</th>
                        <th>QR Code</th>
                    </tr>
                    <tr ng-repeat="customer in listCustomersQueue">                         
                            <td><font color="{{customer.GroupColor}}">{{ customer.QueuePosition }}</font></td>                   
                            <td><font color="{{customer.GroupColor}}">{{ customer.Name }}</font></td>
                            <td><font color="{{customer.GroupColor}}">{{ customer.NumberOfSeats }}</font></td> 
                            <td><button ng-click="selectCustomer(customer)"><font color="{{customer.GroupColor}}">Draw QR Code</font></button></td>                            
                    </tr>
                </tbody>
            </table>
        </div>
        <div style = "float:left">
            <fieldset>
                <legend>Queue # {{selectedCustomer.QueuePosition}} , Name = {{selectedCustomer.Name}} , Seats = {{selectedCustomer.NumberOfSeats}}</legend>
                <qr type-number="8" correction-level="'M'" size="300" text="qrCodeString" image="true"></qr>
            </fieldset>
        </div>
    </div>   
</body>
</html>