<!DOCTYPE html>
<html ng-app="reservationApp">
<head>
    <title>Reserve Queue</title>
    <link rel="stylesheet" href="pure-min.css">
    <link rel="stylesheet" href="style.css"/>
    <script src="socket.io/socket.io.js"></script>
    <script src="angular/angular.js"></script>
    <script type="text/javascript" src="qrcode/lib/qrcode.min.js"></script>     
    <script type="text/javascript" src="angular-qr/angular-qr.min.js"></script> <!--https://github.com/janantala/angular-qr-->
    <script src="main.js"></script>   

</head>
<body>
    <img height = "60" src="logo.png" >       
    <div ng-controller="reserveQueueControl">        
        <div>
            <div class = "reserve-form">
                <h2>Reserve Queue</h2> 
                <form novalidate class="pure-form pure-form-stacked">
                    <label for="name">Name</label>
                    <input placeholder="Name" type="text" ng-model="customer.Name"><br>
                    <label for="seats">Number of Seats</label>
                    <input placeholder="Number of Seats" type="text" ng-model="customer.NumberOfSeats">
                    <br><br>
                    <button class="pure-button pure-button-primary" ng-click="reserveSeats()">Reserve</button>
                </form>
            </div>
            <div class = "qr-code">
                <fieldset>
                    <legend>QR Code:</legend>
                    <qr type-number="8" correction-level="'M'" size="250" text="qrCodeString" image="true"></qr>
                </fieldset>
            </div>
        </div>
    </div>

</body>
</html>